html {
  justify-content: center;
  display: flex;
  background-color: #202020;
}

body {
  font-family: sans-serif;
  background-color: #ffffff;
  max-width: 60em;
  padding: 1em;
}

table, th, td {
  border: 1px solid;
}

img {
  max-width: 100%;
}

p {
  text-indent: 0em;
}

h1, h2, h3, h4 {
  font-family: serif;
}

#title-block-header {
  text-align: center;
}

.title {
  font-size: 300%;
}

.author {
  font-style: italic;
}

.citation {
  vertical-align: super;
  font-size: 0.83em;
}

#refs p {
  text-indent: 0 !important;
}

figure p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.char-quote {
  margin-bottom: 16px;
}

.char-quote table {
  border: 0px !important;
  width: 100%;
}

.char-quote table td {
  border: 0px !important;
  vertical-align: top;
}

.char-quote table td:nth-child(1) {
  width: 10%;
}

.char-quote table td:nth-child(2) {
  width: max-content;
}

.char-message > * {
  max-width: 100%;
  width: fit-content;

  margin: 0 !important;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;

  border: 1px solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.char-message > *:last-child {
  border: 1px solid;
  border-bottom-left-radius: 5px;
}

.char-name p {
  max-width: 100%;
  width: fit-content;

  margin: 0;
  padding: 0;
  border: 0;
}
